<div class="form-card">
  <h2>{{ "Nouveau facesnap" | uppercase }}</h2>
  <form [formGroup]="snapForm">
    <div class="form-group">
      <label for="title">Titre:</label>
      <input type="text" id="title" formControlName="title" />
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        formControlName="description"
        id="description"
        cols="30"
        rows="10"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="imageUrl">Image Url:</label>
      <input type="text" id="imageUrl" formControlName="imageUrl" />
    </div>

    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" id="location" formControlName="location" />
    </div>

    <div class="action-bouttons">
      <button
        type="submit"
        (click)="onSubmitForm()"
        [disabled]="snapForm.invalid"
      >
        Enregister
      </button>
    </div>
  </form>
</div>
<div class="face-snap-card" *ngIf="faceSnapPreview$ | async as faceSnap">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <p>
    Mis en ligne {{ faceSnap.createdDate | date: "à HH:mm, le d MMMM yyyy" }}
  </p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
</div>
